.vh-5 {
  height: 5vh;
}
.vh-10 {
  height: 10vh;
}
.vh-15 {
  height: 155vh;
}
.vh-90 {
  height: 90vh;
}
.vh-95 {
  height: 95vh;
}

.vh-100 {
  height: 100vh;
}

.vw-50 {
  width: 50vw;
}
.vw-35 {
  width: 35vw;
}
.vw-100 {
  width: 100vw;
}


